<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ButtonSettings.Width" value="250"/>
		<add key="ButtonSettings.Height" value="80"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v8.0" sku=".NETFramework, Version=v8.0"/>
	</startup>
</configuration>